*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  text-align: center
  padding: 3rem
  font-family: sans-serif


body
  display: none


.logo
  display: inline-block
  margin-bottom: 3rem


figure
  height: 100px
  line-height: 100px
  color: white
  font-weight: bold


section

  margin-bottom: 30px

  &:nth-of-type(1)
    background: tomato
    figure
      background: darken(tomato, 10%)
      &:nth-child(1), &:nth-child(2), &:nth-child(3)
        margin-bottom: 30px
      figure
        background: darken(tomato, 20%)

  &:nth-of-type(2)
    background: dodgerblue
    figure
      background: darken(dodgerblue, 10%)

  &:nth-of-type(3)
    background: #7ba48d
    figure
      background: darken(#7ba48d, 10%)

  &:nth-of-type(4)
    background: #f19a3e
    figure
      background: darken(#f19a3e, 10%)
      margin-bottom: 30px
      &:nth-child(4)
        margin-bottom: 0
      @media (min-width: 600px)
        &:nth-child(3)
          margin-bottom: 0
      @media (min-width: 1000px)
        margin-bottom: 0

  &:nth-of-type(5)
    background: #52a9b1
    figure
      background: darken(#52a9b1, 10%)
      height: auto
      line-height: 25px
      padding: 30px
      font-weight: 100
      overflow: hidden
      margin-bottom: 30px

  &:nth-of-type(6)
    background: lightgreen
    div
      height: 200px
    figure
      background: darken(lightgreen, 10%)
